{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notes/create_note.css' %}">
{% endblock css %}

{% block title %}Create Note{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="form-container">
<h3>Create New Note</h3>
<form method="post" enctype="multipart/form-data" class="note-form">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="form-row">
		<button type="submit">Save Note</button>
		<a href="{% url 'note_list' %}" class="back-link">Back to Notes</a>
	</div>
</form>
</div>
{% else %}
<div class="form-container">
	<h3>Authentication Required</h3>
	<p>You must be logged in to create notes.</p>
	<a href="{% url 'note_list' %}" class="back-link">Back to Notes</a>
</div>
{% endif %}
{% endblock content %}