.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.left-buttons {
	display: flex;
	justify-content: flex-start;
	padding-right: 36rem;
}

.right-buttons {
	display: flex;
	justify-content: flex-end;
	padding-left: 34rem;
	padding-right: 0.5rem;
}

.back-btn {
	background-color: var(--background-color);
	color: #fff;
}

.clear-btn {
	background-color: var(--danger-color);
    color: #fff;
	margin-left: 0.9rem;
}

.send-btn {
	background-color: var(--heading-color);
    color: #fff;
}