.login-out-menu nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.login-out-menu a {
	text-decoration: none;
	color: var(--heading-color);
	font-variant: small-caps;
	font-size: 17px;
	padding: 0 .5rem;
}

.login-out-menu a:hover,
.main-navbar a:hover {
	text-decoration: underline;
}

/* Search panel */
.search-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
	border: 2px solid var(--background-color);
	border-radius: 2px;
	width: 100%;
	padding: 0.3rem;
}

.input-group input {
	margin-right: 0 0.3rem;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--heading-color);
}

.input-group input:focus {
	outline: none;
	border-bottom: 1px solid var(--heading-color);
	background-color: var(--primary-color);
}

.btn {
	margin-left: 0.3rem;
	background-color: var(--link-color);
	color: var(--secondary-text-color);
	
}

/* Mobile view */
@media screen and (max-width: 768px) {
	.dashboard-container {
		flex-direction: column;
	}
	
	.navigation-panel {
		width: var(--nav-width-mobile);
		min-height: auto;
		position: relative;
	}
	
	.content-container {
		width: var(--content-width-mobile);
	}
	
	.search-panel {
		flex-direction: column;
		align-items: stretch;
		padding: 0.5rem;
		gap: 10px;
	}
	
	.search-panel form {
		width: 100%;
	}
	
	.login-out-menu {
		width: 100%;
	}
	
	.login-out-menu nav {
		justify-content: space-around;
	}
	
	.dashboard-cards,
	.recent-activity {
		width: 100%;
		margin: 0.7rem 0;
	}
	
	.dashboard-cards h2, .dashboard-cards h3,
	.recent-activity h2, .recent-activity h3 {
		font-size: 1.5rem;
	}
}

