{% extends 'base.html' %}

{% block title %}Update Profile{% endblock title %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/accounts/update_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/items/item_form.css' %}">
{% endblock css %}

{% block content %}
<div class="update-profile-container">
    <div class="update-profile">
        <div class="header">
            <h1>Update Profile</h1>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            
            {% for field in form %}
            <div class="form-row">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                <div class="error-message">{{ field.errors }}</div>
                {% endif %}
                {% if field.help_text %}
                <small class="form-hint">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            
            <div class="form-actions">
                <a href="{% url 'profile' user.id %}">Cancel</a>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}