{% extends 'base.html' %}

{% block title %}User Guide{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
<h1>How To Use This Database:</h1>
<p>This database is designed to help you manage and track your collection of items. Below are some instructions on how to use the various features of the database.</p>

<h2>Adding Items</h2>

<h2>Viewing Items</h2>

<h2>Editing/Updating Items</h2>

<h2>Deleting Items</h2>

<h2>Searching for Items</h2>

<h2>Sorting Items</h2>

<h2>Generating Reports</h2>

<h2>Customizing Views</h2>

<h2>Using Categories</h2>

<h2>Using Collections</h2>

<h2>Adding/Using Images</h2>	


{% endblock content %}