.form-container {
	margin: 20px auto;
	width: 95%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: var(--primary-color);
}

.header { 
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--background-color);
}

.form-container h4 {
	margin-bottom: 20px;
	color: #333;
}

.message-container {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8f9fa;
	color: #333;
}

.message-container button {
	float: right;
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

form {
	background-color: var(--transparent-background);
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group small {
	display: block;
	margin-top: 5px;
	color: #6c757d;
}

.form-actions {
	text-align: right;
}

.form-actions a {
	margin-right: 10px;
	padding: 8px 15px;
	text-decoration: none;
	color: #fff;
	background-color: #6c757d;
	border: none;
	border-radius: 4px;
}

.form-actions button {
	padding: 8px 15px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 4px;
}