.login-container {
    width: 95%;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin: 20px auto;
}

.header{ 
	width: 100%;
    align-items: center;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid var(--background-color);
}

form {
	background-color: var(--transparent-background);
	width: 60%;
	margin: 10px auto;
	padding: 20px;
	border-bottom: 1px solid var(--background-color);
	border-radius: 5px;
}

.form-row {
	margin-bottom: 15px;
}

.form-row label {
	display: block;
	margin-bottom: 5px;
}

.form-row input {
	background-color: white;
	border: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--heading-color);
	width: 100%;
	padding: 8px;
}

.form-row button {
	padding: 10px 15px;
	background-color: var(--button-color);
	color: var(--secondary-text-color);
	border: none;
	cursor: pointer;
	width: 100%;
}

.links {
	margin-top: 20px;
	text-align: center;
}

.error-message {
	color: red;
	margin-bottom: 15px;
}