.signup-container {
	background-color: var(--primary-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	width: 95%;
	margin: 30px auto;
	padding: 30px;
	box-shadow: var(--shadow);
}

@media (max-width: 768px) {
	.signup-container {
	padding: 20px 15px;
	}
	
	.signup-container form {
	width: 100%;
	padding: 15px;
	}
	
	.signup-container .header {
	padding: 0 10px 15px 10px;
	}
}