.items-container {
    width: 95%;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin: 20px auto;
}

.collection-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--background-color);
}

.text {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -15px;
    margin-top: 20px;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--primary-color);
}

.items-table th, 
.items-table td {
    padding: 12px 15px;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
    overflow-inline: clip;
}

.items-table th {
    background-color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

.items-table td {
    text-align: center;
}
.items-table tr:hover {
    background-color: var(--transparent-background);
}

.actions {
    display: flex;
    justify-content: center;;
    gap: 10px;
}

.action-btn {
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.create-btn {
    border: 1px solid var(--transparent-background);
    border-radius: 8px;
    background-color: var(--transparent-background);
    padding: 5px 10px;

}

.view-btn {
    background-color: var(--transparent-background);
    font-family: Candara, sans-serif;
    min-width: max-content;
}

.edit-btn {
    background-color: var(--hover-color);
    font-family: Candara, sans-serif;

}

.delete-btn {
    background-color: var(--danger-color);
    font-family: Candara, sans-serif;
}

.no-items {
    text-align: center;
    padding: 40px;
    background-color: var(--transparent-background);
    border-radius: 8px;
}

/* Responsive table */
@media (max-width: 993px) {
    .color-responsive,
    .edit-btn {
        display: none;
    } 
}

@media (max-width: 768px) {
    .table-responsive {
        width: 100vw;
    }
}