.form-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	width: 100vw;
}
.back-btn {
	background-color: var(--background-color);
	color: #fff;
}

.clear-btn {
	background-color: var(--danger-color);
    color: #fff;
	margin-left: 0.9rem;
}

.send-btn {
	background-color: var(--heading-color);
    color: #fff;
}

.message {
	border: 1px solid var(--heading-color);
}