.login-container {
	width: 95%;
	max-width: 800px;
	padding: 30px;
	background-color: var(--primary-color);
	border-radius: var(--border-radius);
	margin: 30px auto;
	box-shadow: var(--shadow);
}

.login-container .header { 
	width: 100%;
	align-items: center;
	padding: 0 20px 15px 20px;
	border-bottom: 1px solid var(--border-color);
}

.login-container form {
	width: 70%;
}

.login-container form .form-row {
	margin-bottom: 20px;
}

.login-container .form-row button {
	margin-top: 10px;
}

.user-label, .pw-label {
	margin-bottom: 5px;
}
@media (max-width: 768px) {
	.login-container {
	padding: 20px 15px;
	}
	
	.login-container form {
	width: 100%;
	padding: 15px;
	}
	
	.login-container .header {
	padding: 0 10px 15px 10px;
	}
}