{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/items/item_list.css' %}">
{% endblock css %}

{% block content %}
<div class="items-container">
	<div class="collection-items">
		<h3>Collection Records</h3>
		<a href="{% url 'item_create' %}" class="create-btn">Create New Record</a>
	</div>

	<div class="text">
		<h6>You're currently viewing all records in your collection.</h6>
	</div>

    <div class="all_records">
        {% if items %}
        <div class="table-responsive">
            <table class="items-table">
                <thead>
					<tr>
                        <th>id</th>
                        <th>name</th>
						<th class="color-responsive">color</th>
                        <th>type</th>
                        <th>size</th>
						<th>value</th>
                        <th class="action-title">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td class="color-responsive">{{ item.color }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.size }}</td>
                        <td>${{ item.value }}</td>
						<td class="actions">
                            <a href="{% url 'item_detail' item.id %}" class="action-btn view-btn" title="View Details"> View</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'item_update' item.id %}" class="action-btn edit-btn" title="Edit"> Edit</a>
                            <a href="{% url 'item_delete' item.id %}" class="action-btn delete-btn" title="Delete">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="no-items">
            <p>No collection records have been added yet.</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}