.form-container {
	width: 95%;
	max-width: 800px;
	padding: 20px;
	background-color: var(--primary-color);
	border-radius: 8px;
	margin: 20px auto;
}

.form-header {
	margin-bottom: 20px;
	border-bottom: 1px solid var(--background-color);
	padding-bottom: 10px;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--background-color);
	border-radius: 4px;
	background-color: white;
	color: var(--text-color);
}

.form-actions {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.btn-submit {
	background-color: var(--button-color);
	color: var(--secondary-text-color);
	border: none;
	padding: 10px 20px;
	font-variant: small-caps;
	border-radius: 4px;
}

.btn-cancel {
	background-color: var(--background-color);
	color: var(--text-color);
	border: none;
	padding: 10px 20px;
	font-variant: small-caps;
	border-radius: 4px;
}